.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

::-webkit-scrollbar {
  display: none;
}

.project-title {
  font-size: 53px;
}
.project-number {
  font-size: 53px;
}

/* Dark/Light Mode */
.system.light {
  background: #f1efed;
  color: #0e1012;
  border-color: #000;
  transition: .6s ease-in-out;
}
.header.light .header__line {
  background: #000;
}
.section__projects.light .title_area,
.section__projects.light .title_area .headline,
.section__projects.light nav li {
  border-color: #000;
}
.section__projects.light nav .project .subtitle .view .view_bg,
.section__projects.light nav .project .subtitle .view .view_bg_2,
.section__projects.light nav .project .subtitle .view .view_label {
  background: #0e1012;
  color: #fff;
}
.section__projects.light nav .project .subtitle .view .view_label {
  border-radius: 20px;
}