/* Recoleta Alt */
@font-face {
  font-family: 'Recoleta Alt - Regular';
  src: url('../font/RecoletaAlt-Regular.eot');
  src: url('../font/RecoletaAlt-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/RecoletaAlt-Regular.svg#RecoletaAlt-Regular') format('svg'),
       url('../font/RecoletaAlt-Regular.ttf') format('truetype'),
       url('../font/RecoletaAlt-Regular.woff') format('woff'),
       url('../font/RecoletaAlt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt - Medium';
  src: url('../font/RecoletaAlt-Medium.eot');
  src: url('../font/RecoletaAlt-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/RecoletaAlt-Medium.svg#RecoletaAlt-Medium') format('svg'),
       url('../font/RecoletaAlt-Medium.ttf') format('truetype'),
       url('../font/RecoletaAlt-Medium.woff') format('woff'),
       url('../font/RecoletaAlt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt - Semi Bold';
  src: url('../font/RecoletaAlt-SemiBold.eot');
  src: url('../font/RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../font/RecoletaAlt-SemiBold.svg#RecoletaAlt-SemiBold') format('svg'),
       url('../font/RecoletaAlt-SemiBold.ttf') format('truetype'),
       url('../font/RecoletaAlt-SemiBold.woff') format('woff'),
       url('../font/RecoletaAlt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}