body {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-black);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1,"kern";
  font-kerning: normal;
  -ms-overflow-style: none;
}


/* 헤더 */
header {
  position: relative;
  z-index: 999;
}

/* 로고 영역 */
header .logo_area {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 100;
}
header .logo_area .inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 a {
  display: block;
  color: var(--color-white);
  line-height: 1.5;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
header h1 a span {
  overflow: hidden;
  height: 42px;
}
header .btn_menu {
  color: var(--color-white);
  font-size: 12px;
  line-height: 14px;
  display: block;
  padding: 20px 0;
}
header .bg {
  background-color: var(--color-white);
  width: 100%;
  height: 80px;
  position: fixed;
  top: -80px;
  transition: .4s ease-in-out;
}
/* white */
header.white .bg {
  top: 0;
  transition: .4s ease-in-out;
  color: var(--color-black);
}
header.white h1 span {
  transition: .7s;
  color: var(--color-black);
}
header.white .btn_menu {
  color: var(--color-black);
  transition: .7s;
}

/* 사이드 메뉴 */
header .aside {
  position: fixed;
  top: 0;
  right: -500px;
  background-color: var(--color-white);
  width: 70vw;
  max-width: 280px;
  height: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  box-sizing: border-box;
}
/* 스크립트 클래스 추가 */
body.show {
  overflow-y: hidden;
}
body.show header .aside {
  right: 0;
}
body.show header .aside_dimmed {
  visibility: visible;
  opacity: 1;
}

header .aside .btn_close {
  display: block;
  margin: 0 20px 0 auto;
  font-size: 12px;
  font-weight: 500;
  padding: 35px 0 30px;
  cursor: pointer;
}
header .aside nav ul li {
  margin-bottom: 5vh;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
header .aside nav ul li a {
  display: block;
}
header .aside .contact_area {
  font-size: 14px;
  font-weight: 400;
}
header .aside .contact_area a {
  display: block;
  transition: .4s;
  margin: 26px 0 30px;
}

/* 사이드 메뉴 배경 */
header .aside_dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, .4);
  /* pointer-events: none; */
  transition: all .6s ease-out;
  visibility: hidden;
  opacity: 0;
}


/* 푸터 */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

/* 푸터 로고 */
footer .dazed_logo {
  width: 100%;
  height: 25vw;
  fill: var(--color-white);
  margin-top: -0.7vw;
}

/* 푸터 네비게이션 */
footer .footer_nav {
  background-color: var(--color-black);
  padding: 24px 0;
  position: sticky;
  bottom: 0;
}
footer .sns_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
footer .sns_links li {
  transition: .4s;
}
footer .sns_links li a {
  display: block;
  padding: 0 6px;
}
footer .sns_links li svg {
  width: 44px;
  height: 44px;
  fill: var(--color-white);
}
footer .footer_links {
  margin-bottom: 40px;
}
footer .footer_links li a {
  display: inline-block;
  padding-top: 16px;
}
footer .footer_nav .media_link {
  display: inline-block;
  margin-bottom: 60px;
  text-transform: capitalize;
  line-height: 18px;
}